<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.StudentMapper">
	
	<!-- 성적확인 -->
	<select id="selectScore"></select>
	
	<!-- 시험종료를 위한 답의 개수 -->
	<select id="selectAnswerCnt" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM paper WHERE test_no = #{testNo}
	</select>
		
	<!-- 고른답 -->
	<select id="selectPaperByScore" parameterType="int" resultType="goodee.gdj58.online.vo.Paper">
		SELECT
			paper_no paperNo
			, student_no studentNo
			, question_no questionNo
			, answer
		FROM paper
		WHERE student_no = #{studentNo}
	</select>
	
	<!-- 답선택or답수정 -->
	<select id="selectPaperOne" parameterType="int" resultType="goodee.gdj58.online.vo.Paper">
		SELECT
			paper_no paperNo
			, student_no studentNo
			, question_no questionNo
			, answer
		FROM paper
		WHERE question_no = #{questionNo}
	</select>
	
	<!-- 답안지 수정 -->
	<update id="updatePaper" parameterType="goodee.gdj58.online.vo.Paper">
		UPDATE paper SET answer=#{answer} WHERE question_no = #{questionNo}
	</update>
	
	<!-- 답안지 -->
	<insert id="insertPaper" parameterType="goodee.gdj58.online.vo.Paper">
		INSERT INTO paper (
			student_no, question_no, answer, test_no
		) VALUES (
			#{studentNo}, #{questionNo}, #{answer}, #{testNo}
		)
	</insert>
	
	<!-- 시험지 -->
	<select id="selectPaper" parameterType="int" resultType="java.util.Map">
		SELECT
			q.question_no questionNo
			, q.question_idx questionIdx
			, q.question_title questionTitle
			, e.example_no exampleNo
			, e.example_idx exampleIdx
			, e.example_title exampleTitle
			, e.example_ox exampleOx
		FROM question q 
		INNER JOIN example e
		ON q.question_no = e.question_no
		WHERE q.test_no=#{testNo}
	</select>
	
	<!-- 시험일자 -->
	<select id="selectTest" parameterType="string" resultType="goodee.gdj58.online.vo.Test">
		SELECT 
			test_no testNo
			, test_title testTitle
			, test_date testDate
			, teacher_no teacherNo
		FROM test
	</select>
	
	<!-- 학생 비밀번호 수정 -->
	<update id="updateStudentPw" 
		parameterType="java.util.Map">
		UPDATE student
		SET student_pw = PASSWORD(#{newPw})
		WHERE student_no = #{studentNo} AND student_pw = PASSWORD(#{oldPw})
	</update>

	<!-- 학생 로그인 -->
	<select id="loginStudent" parameterType="goodee.gdj58.online.vo.Student" resultType="goodee.gdj58.online.vo.Student">
		SELECT
			student_no studentNo
			, student_id studentId
			, student_name studentName
		FROM student
		WHERE student_id = #{studentId} AND student_pw = PASSWORD(#{studentPw})
	</select>

	<!-- 학생 삭제 -->
	<delete id="deleteStudent" parameterType="int">
		DELETE FROM student WHERE student_no = #{studentNo};	
	</delete>

	<!-- 학생 등록 -->
	<insert id="insertStudent"
				parameterType="goodee.gdj58.online.vo.Student">
		INSERT INTO student(
			student_id
			, student_pw
			, student_name
		) VALUES(
			#{studentId}
			, PASSWORD(#{studentPw})
			, #{studentName}
		)
	</insert>
	
	<!-- 학생 아이디 중복체크 -->
	<select id="selectStudentId" parameterType="string" resultType="string">
		SELECT
			student_id studentId
		FROM student
		WHERE student_id = #{studentId}
	</select>
	
	<!-- 학생 목록 수 -->
	<select id="selectStudentCount" resultType="Integer">
		SELECT COUNT(*) FROM student;
	</select>
	
	<!-- 학생 목록 -->
	<select id="selectStudentList"
				resultType="goodee.gdj58.online.vo.Student"
				parameterType="java.util.Map">
		SELECT 
			student_no studentNo
			, student_id studentId
			, student_name studentName
		FROM student
		ORDER BY student_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
</mapper>